.brick{
    height:auto;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10%;
}

.white-brick{
    height:auto;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.I-brick{
    height:auto;
    background-color: aqua;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
}

.J-brick{
    height:auto;
    background-color: rgb(59, 59, 209);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
}

.L-brick{
    height:auto;
    background-color: orange;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
}

.O-brick{
    height:auto;
    background-color: yellow;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
}

.S-brick{
    height:auto;
    background-color: lightgreen;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
}

.Z-brick{
    height:auto;
    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
}

.T-brick{
    height:auto;
    background-color: rgb(146, 35, 146);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
}

.clean-brick{
    height:auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: black;
    animation: fadeInAnimation 700ms ;
    
}

.game-component-panel{
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    padding:100px;
}

.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 300px;
    height: 600px;
    background-color: black;
    border-style: solid;
    border-color: black;
    
}

@keyframes fadeInAnimation {
    0% {
      background-color: white;
    }
    100% {
      background-color: black;

    }
  }

.visible{
    opacity: 1;
}

.nextBrickDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left:50px;
    margin-top:50px;
    margin-right:auto;
    width: 100px;
    height: 120px;
    background-color: black;
}